@use "../../assets/sass/functions" as *;

.container {
  display: flex;
  gap: vw-1550(36);
  align-items: center;
  justify-content: center;

  .prev {
    transform: rotate(180deg);
  }

  .list {
    display: flex;
    gap: vw-1550(20);
    align-items: center;

    .page {
      color: var(--text);
      text-decoration: none;

      &.active {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }

  @media (max-width: 768px) {
    gap: 24px;

    .list {
      gap: 16px;
    }
  }
}
