@use "../../assets/sass/functions" as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: vw-1550(200);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.wrapper.active {
  opacity: 1;
  z-index: 2000;
  pointer-events: auto;
}

.item {
  position: relative;
  padding: vw-1550(16) vw-1550(24);
  background: var(--success);
  max-width: vw-1550(326);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: vw-1550(12);
  color: var(--white-bg);

  &.error {
    max-width: vw-1550(342);
  }

  svg {
    width: vw-1550(32);
    height: vw-1550(32);
  }
}

.title {
  margin-top: vw-1550(12);
  margin-bottom: vw-1550(4);
  color: var(--white-bg);
}

.text {
  color: var(--white-bg);
  text-align: center;
}

.item.error {
  background: var(--error);
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 48px;
  }

  .item {
    padding: 12px 16px;
    max-width: 310px;
    border-radius: 16px;
    border-radius: 8px;

    &.error {
      max-width: 310px;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .title {
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
