@use "../../assets/sass/functions" as *;

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1550(20);
  width: 100%;

  .title {
    margin-bottom: vw-1550(22);
  }

  @media (max-width: 768px) {
    gap: 12px;

    .title {
      margin-bottom: 20px;
    }
  }
}
