@use "../../../assets/sass/functions" as *;

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: vw-1550(12);
  cursor: pointer;
  color: var(--white-bg);

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.checkbox {
  border: 1px solid var(--medium-blue);
  border-radius: vw-1550(6);
  width: vw-1550(32);
  height: vw-1550(32);
  flex: 0 0 vw-1550(32);

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white-bg);
  color: transparent;

  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: 6px;
  }
}

.icon {
  display: none;
  width: vw-1550(24);
  height: vw-1550(24);

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.input:checked + .checkbox {
  background: var(--orange);
  border-color: var(--orange);
}

.input:checked + .checkbox > .icon {
  display: block;
}

.input:disabled + .checkbox {
  pointer-events: none;
  background: transparent;
}

.container:has(.input:disabled) {
  cursor: default;
}

input:focus + .checkbox {
  background-color: var(--medium-blue);
}
