@use "../../../assets/sass/_functions.scss" as *;

.filter {
  width: 100%;

  padding: vw-1550(32) vw-1550(24) vw-1550(24) vw-1550(24);
  border-bottom: 1px solid var(--medium-blue);

  cursor: pointer;
  overflow: hidden;

  &.active {
    overflow: visible;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;

  .arrow {
    transform: rotate(-90deg);
    transition: all 0.2s ease;
    color: var(--dark-blue);
    width: vw-1550(34);
    height: vw-1550(34);
  }
}

.active .title {
  padding-bottom: vw-1550(16);
}

.active .arrow {
  transform: rotate(0deg);
}

@media (max-width: 768px) {
  .filter {
    padding: 24px 16px 16px;
  }

  .title .arrow {
    width: 32px;
    height: 32px;
  }

  .active .title {
    padding-bottom: 16px;
  }
}
