@use "../../../assets/sass/functions" as *;

.container {
  width: 100%;
  max-width: vw-1550(472);
  padding: vw-1550(16) vw-1550(20);
  border-radius: vw-1550(12);
  background: var(--white-bg);

  position: relative;
  display: inline-flex;
  flex-direction: column;

  border: 1px solid var(--medium-blue);
  color: var(--dark-blue);
  transition: all 0.2s ease;
}

.wrapper {
  .title {
    margin-bottom: vw-1550(16);

    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
}

.field {
  color: var(--text);
  flex: 1 1 auto;
  border: none;
  outline: none;
  min-width: 0px;
  background-color: transparent;

  &::placeholder {
    opacity: 0.4;
  }
}

.message {
  position: absolute;
  bottom: vw-1550(-12);
  left: 0;
  color: var(--error);
  transform: translateY(100%);
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 17px 16px;
    border-radius: 6px;
  }

  .message {
    bottom: -2px;
  }
}
