@use "../../assets/sass/functions" as *;

.container {
  border: 1px solid var(--medium-blue);
  border-radius: vw-1550(12);
  padding: vw-1550(16);
  height: vw-1550(224);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow:
      0 14px 31px 0 rgba(28, 33, 63, 0.06),
      0 225px 90px 0 rgba(28, 33, 63, 0.01),
      0 352px 98px 0 rgba(28, 33, 63, 0);
  }

  &.active {
    border-color: var(--orange);
  }

  .title {
    margin-bottom: vw-1550(6);
  }

  .description {
    margin-bottom: vw-1550(6);
  }

  @media (max-width: 768px) {
    height: 224px;
    border-radius: 8px;
    padding: 16px;

    .title {
      margin-bottom: 6px;
    }

    .description {
      margin-bottom: 6px;
    }
  }
}
