@use "../../assets/sass/functions" as *;

.container {
  position: relative;
  width: vw-all(234, 234);
  cursor: pointer;

  .header {
    border: 1px solid var(--medium-blue);
    border-radius: vw-all(12, 12);
    padding: vw-all(13, 13) vw-all(16, 16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;

    span {
      opacity: 0.4;
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      flex: 0 0 vw-all(24, 24);
      width: vw-all(24, 24);
      height: vw-all(24, 24);
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
      color: var(--orange);
    }
  }

  .options {
    position: absolute;
    bottom: vw-all(-8, -8);
    transform: translateY(100%);
    z-index: 0;
    width: 100%;
    background-color: var(--white-bg);
    border: 1px solid var(--medium-blue);
    border-radius: vw-all(12, 12);
    padding: vw-all(16, 16) vw-all(12, 12);
    display: flex;
    flex-direction: column;
    gap: vw-all(8, 8);
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    .option {
      opacity: 0.4;
      color: var(--dark-blue);
    }
  }

  &.active {
    .header {
      span {
        opacity: 1;
      }

      svg {
        color: var(--dark-blue);
        transform: rotate(270deg);
      }
    }

    .options {
      pointer-events: auto;
      opacity: 1;
      z-index: 1;

      .option {
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--orange);
          opacity: 1;
        }
      }
    }
  }
}
