@use "../../assets/sass/functions" as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(28, 33, 63, 0.7);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}

.wrapper.active {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
}

.wrapper.active .container {
  transform: translateX(0);
}

.container {
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  background: var(--white-bg);
  width: 267px;
  min-height: 100%;
  height: fit-content;
  padding: 72px 20px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  position: relative;

  .close {
    position: absolute;
    top: 16px;
    right: 20px;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-blue);
    border: none;
    overflow: none;
    cursor: pointer;
    color: var(--dark-blue);

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;

    .item {
      color: var(--dark-blue);
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      display: flex;
      align-items: center;
      gap: 4px;
      width: fit-content;
      cursor: pointer;

      &.sale {
        color: var(--orange);
      }

      svg {
        width: 26px;
        height: 26px;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .contactsItem {
      max-width: 190px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--dark-blue);
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}
