@use "../../../assets/sass/functions" as *;

.container {
  width: 120px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
  padding: 8px 12px;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: var(--dark-blue);
  background-color: var(--white-bg);
  cursor: pointer;

  span {
    opacity: 0.4;
  }

  svg {
    width: 20px;
    height: 20px;
    color: var(--orange);
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
  }
}
