@use "../../assets/sass/functions" as *;

.container {
  margin-bottom: vw-1550(100);
  width: 100%;

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  gap: vw-1550(70);

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.title {
  margin-bottom: vw-1550(24);
  color: var(--text);

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}
