@use "../../../assets/sass/functions" as *;

.button {
  border-radius: vw-1550(12);
  padding: vw-1550(6) vw-1550(12);
  gap: vw-1550(6);

  color: var(--dark-blue);
  background: var(--medium-blue);

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  span {
    transition: all 0.3s ease;
  }

  svg {
    width: vw-1550(24);
    height: vw-1550(24);
  }

  &:hover {
    background: var(--dark-blue);
    color: var(--white-bg);
  }

  &:active {
    background: var(--orange);
  }

  &:disabled,
  &.disabled {
    background: rgba(28, 33, 63, 0.1);
    color: var(--dark-blue);
    cursor: default;
    pointer-events: none;

    span {
      opacity: 0.4;
    }

    svg {
      opacity: 0.4;
    }
  }
}

@media (max-width: 768px) {
  .button {
    border-radius: 12px;
    padding: 6px 8px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
