@use "../../../assets/sass/functions" as *;

.container {
  width: 100%;
  max-width: vw-1550(588);
  min-height: vw-1550(120);
  padding: vw-1550(16) vw-1550(20);
  border-radius: vw-1550(12);

  position: relative;
  display: inline-flex;
  flex-direction: column;

  background: var(--white-bg);
  border: 1px solid rgba(79, 94, 117, 0.2);
  color: var(--dark-blue);
  transition: all 0.2s ease;
}

.wrapper {
  .title {
    margin-bottom: vw-1550(16);

    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
}

.field {
  color: var(--dark-blue);
  flex: 1 1 auto;
  border: none;
  outline: none;
  resize: none;
  min-width: 0px;
  background-color: transparent;

  &::placeholder {
    opacity: 0.4;
  }
}

.message {
  position: absolute;
  bottom: -2px;
  left: 0;
  color: var(--error);
  transform: translateY(100%);
}

@media (max-width: 768px) {
  .container {
    border-radius: 6px;
    padding: 16px;
    max-width: 100%;
    min-height: 120px;
  }

  .message {
    bottom: -2px;
  }
}
