@use "../../../assets/sass/functions" as *;

.wrapper {
  position: relative;
  flex: 0 0 vw-1550(810);
  height: vw-1550(440);
  border-radius: vw-1550(12);
  overflow: hidden;
  background: var(--light-blue);

  @media (max-width: 768px) {
    flex: initial;
    height: fit-content;
    border-radius: 8px;
  }
}

.title {
  padding: vw-1550(24);

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.swiper {
  margin-bottom: vw-1550(30);
  padding: 0 vw-1550(24);

  .slide {
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      .content {
        .image {
          border-color: var(--orange);
          background-color: var(--white-bg);
        }
      }
    }

    .content {
      width: vw-1550(104);
      height: vw-1550(80);
      display: flex;
      flex-direction: column;
      align-items: center;

      overflow: hidden;

      .image {
        width: 100%;
        height: vw-1550(60);
        object-fit: cover;
        border: 1px solid transparent;
        transition: all 0.3s ease;

        border-radius: vw-1550(8);
      }

      .slideTitle {
        color: var(--dark-blue);
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 16px;
    padding: 0 16px;

    .slide {
      .content {
        width: 70px;
        height: 58px;

        .image {
          height: 40px;
          border-radius: 6px;
        }
      }
    }
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: vw-1550(16);
  height: vw-1550(214);
  padding: 0 vw-1550(24);

  @media (max-width: 768px) {
    height: fit-content;
    padding: 0 16px;
    align-items: flex-end;
    padding-bottom: 16px;
    gap: 16px;
  }
}

.infoSwiper {
  width: 100%;
}

.infoItem {
  display: flex;
  gap: vw-1550(16);
  width: fit-content;

  @media (max-width: 768px) {
    max-width: 141px;
    width: 141px;
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
  }

  &.active {
    .infoTitle {
      color: var(--orange);
    }
  }

  .infoTitle {
    color: var(--text);
    text-align: center;
    height: fit-content;
  }

  .infoList {
    display: flex;
    flex-direction: column;
    max-height: vw-1550(162);
    flex-wrap: wrap;
    gap: vw-1550(12);
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      gap: 6px;
      max-height: initial;
    }

    .infoItem {
      display: block;
      width: fit-content;
    }

    .infoTitle {
      color: var(--text);
      text-decoration: none;

      &:hover {
        color: var(--orange);
      }
    }
  }
}
