@use "../../assets/sass/functions" as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: vw-1550(10);
  border-radius: vw-1550(12);
  width: vw-1550(657);
  height: vw-1550(54);
  padding: 0 vw-1550(16);
  background-color: var(--light-blue);
  flex: 1;

  & > svg {
    width: vw-1550(26);
    height: vw-1550(26);
  }

  &:has(.input:focus) {
    svg {
      color: var(--orange);
    }
  }

  @media (max-width: 768px) {
    gap: 0px;
    border-radius: 0px;
    width: 100%;
    height: 54px;
    padding: 0 16px;
    display: none;

    & > svg {
      width: 26px;
      height: 26px;
    }
  }
}

.container svg {
  width: 26px;
  height: 26px;
  flex: 0 0 26px;
}

.input {
  flex: 1 1 100%;

  min-width: 0;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--text);
}

.input::placeholder {
  opacity: 0.4;
}

.container .button {
  flex: 0 0 auto;
}

.results {
  position: absolute;
  bottom: vw-1550(-11);
  transform: translateY(100%);
  left: 0;
  width: 100%;
  height: fit-content;
  max-height: vw-1550(333);
  z-index: 150;

  box-shadow:
    0 14px 31px 0 rgba(28, 33, 63, 0.06),
    0 225px 90px 0 rgba(28, 33, 63, 0.01),
    0 352px 98px 0 rgba(28, 33, 63, 0);
  background: var(--white-bg);
  border: 1px solid var(--medium-blue);
  border-radius: vw-1550(12);

  overflow: hidden;

  @media (max-width: 768px) {
    bottom: -11px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: vw-1550(20);
}

.item {
  display: flex;
  align-items: center;
  gap: vw-1550(12);
  text-decoration: none;
  color: var(--text);

  .info {
    display: flex;
    flex: 1 1 auto;
    gap: vw-1550(48);
  }

  img {
    border-radius: 0;
    width: vw-1550(106);
    height: vw-1550(90);
    flex: 0 0 vw-1550(106);
    object-fit: contain;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 100%;

    span {
      opacity: 0.5;
    }
  }

  .controls {
    flex: 0 0 vw-1550(108);
    display: flex;
    flex-direction: column;
    gap: vw-1550(8);
    align-items: center;
  }

  .price {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: vw-1550(2);

    &.sale {
      color: var(--error);
    }

    .oldPrice {
      text-decoration: line-through;
      color: var(--dark-blue);
      opacity: 0.3;
    }
  }
}

.scrollContainer {
  height: fit-content;
  max-height: vw-1550(333);
  padding: vw-1550(24) vw-1550(16);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: vw-1550(20);
    border-radius: vw-1550(5);
  }

  &::-webkit-scrollbar-track {
    background: var(--light-blue);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--medium-blue);
    border: 1px solid var(--light-blue);
    border-radius: vw-1550(5);
    position: relative;
    z-index: 2;
  }

  &::-webkit-scrollbar-button:single-button {
    background: var(--light-blue);
    display: block;
    background-size: vw-1550(12);
    background-repeat: no-repeat;
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: vw-1550(15);

    width: vw-1550(20);
    background-position: center center;
    border-radius: vw-1550(5) vw-1550(5) 0 0;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12,8 6,16 18,16" fill="%23222955"/></svg>');
  }

  &::-webkit-scrollbar-button:single-button:vertical:increment {
    border-radius: vw-1550(5) vw-1550(5) 0 0;

    height: vw-1550(15);
    width: vw-1550(20);
    background-position: center center;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12,16 6,8 18,8" fill="%23222955"/></svg>');
  }
}

.item .resultButton {
  padding: vw-1550(10) vw-1550(20);
  width: fit-content;
  min-width: 0;
}
