@use "../../assets/sass/functions" as *;

.container {
  display: flex;
  gap: vw-1550(48);
  width: vw-1550(1296);

  &.left {
    flex-direction: row-reverse;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
    width: 100%;

    &.left {
      flex-direction: column-reverse;
    }
  }
}

.firstBlock {
  display: flex;
  flex-direction: column;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: vw-1550(16);
  line-height: 140%;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  h2 {
    margin-bottom: vw-1550(16);

    font-family: var(--second-family);
    font-weight: 500;
    font-size: vw-1550(26);
    line-height: 140%;

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  ul,
  ol {
    list-style: inside;
    margin-bottom: vw-1550(8);

    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }

  p {
    margin-bottom: vw-1550(8);

    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
}

.secondBlock {
  position: relative;

  width: vw-1550(636);
  min-height: 100%;
  flex-shrink: 0;
  border-radius: vw-1550(12);
  overflow: hidden;

  & > img {
    object-position: cover;
  }

  @media (max-width: 768px) {
    width: 100%;
    min-height: 240px;
    border-radius: 12px;
  }
}
