@use "../../assets/sass/functions" as *;

.container {
  width: vw-1550(1296);
  display: flex;
  flex-direction: column;
  gap: vw-1550(32);

  @media (max-width: 768px) {
    width: 336px;
    gap: 24px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vw-1550(24);

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: vw-1550(20);

  padding: vw-1550(32);
  border-radius: vw-1550(12);
  border: 1px solid var(--medium-blue);

  &__header {
    display: flex;
    align-items: center;
    gap: vw-1550(12);

    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  &__icon {
    width: vw-1550(54);
    height: vw-1550(54);
    padding: vw-1550(14);
    border-radius: vw-1550(12);

    flex-shrink: 0;
    color: var(--white-text);
    background-color: var(--orange);

    @media (max-width: 768px) {
      width: 36px;
      height: 36px;
      padding: 5px;
      border-radius: 8px;
    }
  }

  @media (max-width: 768px) {
    gap: 8px;
    padding: 24px;
    border-radius: 12px;
  }
}
