@use "../../../assets/sass/functions" as *;

.wrapper {
  width: 100%;
  position: relative;
  flex: 0 0 vw-1550(416);
  max-width: vw-1550(416);

  .mobileButton {
    display: none;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mobileButton {
      display: flex;
      width: 100%;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: vw-1550(32);

  @media (max-width: 768px) {
    margin-bottom: 20px;
    width: 100%;

    .button {
      display: none;
    }
  }
}

.slider {
  width: 100%;
  overflow: hidden;

  .slide {
    width: auto;
  }

  @media (max-width: 768px) {
    overflow: visible;
    max-width: 100%;
    margin-bottom: 20px;

    .slide {
      width: 335px;
    }
  }
}

.navigation {
  position: absolute;
  left: vw-1550(-46);
  bottom: vw-1550(193);
  width: calc(100% + vw-1550(92));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  .prev {
    transform: rotate(180deg);
  }

  @media (max-width: 768px) {
    display: none;
  }
}
